@{
    ViewData["Title"] = "HistorialVenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Estilos{
    <link href="~/vendor/jquery-ui/jquery-ui.css" rel="stylesheet">

}

<div class="card shadow mb-4">
    <div class="card-header py-3 bg-second-primary">
        <h6 class="m-0 font-weight-bold text-white">Historial de Reparaciones </h6>
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-sm-12">
                <table class="table table-sm table-striped" id="tbventa">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Cliente</th>
                            <th>Imei</th>
                            <th>Número</th>
                            <th>Equipo</th>
                            <th>Marca</th>
                            <th>Modelo</th>
                            <th>Falla</th>
                            <th>Depósito</th>
                            <th>Condición</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.IdRep</td>
                                <td>@item.Client</td>
                                <td>@item.Imei</td>
                                <td>@item.NumPhone</td>
                                <td>@item.TipeEq</td>
                                <td>@item.Brand</td>
                                <td>@item.Model</td>
                                <td>@item.Failure</td>
                                <td>@item.Deposit</td>
                                <td>@item.Condition</td>
                                <td>
                                    <button class="btn btn-info btn-sm" onclick="mostrarDetalles('@item.IdRep')">Reparado</button>
                                </td>
                            </tr>
                        }
                    </tbody>

                  
                </table>
            </div>

        </div>
    </div>
</div>



@section Scripts {
    
    <script src="~/vendor/jquery-ui/jquery-ui.js"></script>
    <script src="~/vendor/jquery-ui/idioma/datepicker-es.js"></script>
    <script src="~/js/vistas/Historial_Venta.js"></script> 
    <script>
        function mostrarDetalles(idRep) {
            console.log("Mostrar detalles para el IdRep:", idRep);
            var parametro1 = idRep
            $.ajax({
                type: "PUT",
                url: "/Venta/Reparado",
                data: { idR: parametro1},
                success: function (result) {
                    location.reload();
                  
                },
                error: function (error) {
                    console.error("Error:", error);
                }
            });
        }
    </script>
    
 
}
